* {
    margin:0 ;
    padding: 0;
    border: 0;
}

body {
    background-color: white;
    margin-top: 60px;
}
.header {
    width: 100%;
    display: flex;
    background-color:rgb(28, 3, 126);  
    display: flex;
    justify-content: start; 
    flex-direction: row-reverse;
}

#nosotrospres {
    margin: 0px;
    margin-left: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.nosotrospres {
    display: flex;
    justify-content: center;
}

#logito4 {
    display: none;
}
.cartas {
    margin-bottom: 30px;
}

#imglogin {
    margin-left: 75px;
    width: 30%;
}
#logito {
    display: none;
}
.imagenesic {
    margin-left: 70px;
    padding-bottom: 10px;
    padding-top: 10px;    
} 

#logito3 {
    display:none;
}

#logito2 {
    display: none;
}

#filas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.p11 {
    display: none;
}

.presnosotros {
    margin-left: -100px;
}
.logo {
    
    padding: 20px;
    margin-left: 100px;
}

.navbar-dark bg-dark {
    display: flex;
    justify-content: flex-start;
}


div.container-fluid {
    background-repeat: no-repeat;
   
    
}

img.d-block {
    margin-left: 80px;
}

.container {
    display: flex;
    flex-direction: row-reverse;
}


.navbar-content {
    display: flex;
    flex-direction: column;
}

.heroimg {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    
}

#fotohero3 {
    display: none;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(209, 210, 213);
}

.main p {
    margin: 20px;
    text-align: justify;
    font-family: "Charm", serif;
    font-size: 17px;
}
.p1 {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
}

.p2 {
    font-weight: 800;
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

.p3 {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
}

.p4 {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
}

.p5 {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
}

.p6 {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
}

.p7 {
    text-transform: uppercase;
    font-weight: 800;
    
}

.form {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
}

textarea {
    height: 100px;
}

.enviar {
    height: 60px;
    border-radius: 15px;
    background-color: green;
    color: white;
    font-size: 15px;
    font-weight: 800;
}

.contactos {
    text-align:center;
    border: 1px solid black;
    margin: 20px;
    width: 90%;
    height: 300px;
    padding: 0 120px;
    padding-top: 10px;
    font-size: 20px;
}

.contacto {
    width: 90%;
    display: flex;
    justify-content: center;
}

.p8, .p9, .p10 {
    font-size: 15px;
}

img.imglogin {
    width:40%;
    display: flex;
    justify-content: center;
}

.nosotros {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;

}

.p11 {
    text-transform: uppercase;
    font-weight: 800;
    font-family: "Charm", serif;
    font-size: 40px;
}

.p12 {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
}

.p13 {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
}


   

.imagenes {
    width: 70%;
}

.imagenesic {
    width: 7%;
}

.p16 {
    display: none;
}

.logito {
    display:none;
}

.logito2 {
    display:none;
}

.formumm {
    display:none;
}

.p17 {
    display: none;
}

.logito3 {
    display:none;
}

.contactos {
    padding: 10px 60px;
}


.lead {
    margin: 10px;
}

.presnosotros {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 170px;
}

.contactos {
    padding-top: 50px;
}
footer {
    display: none;
}
.logito4 {
    display: none;
}
.p14 {
    background-color: #ccccce;
    padding-bottom: 0;
}
#nuestroservicio {
    background-color: #ccccce;
    padding: 0 !important;
    margin: 0;
}

a {
    width: 50px;
}

#contactenos {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.division {
    width: 100%;
    height: 30px;
    background-color: #b7b8ba;
}

.p14 {
    font-family: "Charm", serif;
    font-size: 40px;
    padding: 20px;
    text-align: center;
}

p.card-text {
    font-size: 11px;
}

.p15 {
    font-family: "Charm", serif;
    font-size: 40px;
    padding: 20px;
    text-align: center;
}

.form-group {
   margin: 20px;
}

.boton {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.btn.btn-success {
    width: 90%;
    background-color: #1c037e;
}

.card {
    border-radius: 0;
    margin: 1px solid black;
    display: flex;
    justify-content: center;
    
    
}

.cartas {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}

p.card-text {
    font-size: 14px;
}

.colorservicio {
    background-color: #ccccce;
}

.colornosotros {
    background-color: #ccccce;
}

.fotohero2 {
    display: none;
}

.fotohero3 {
    display: none;
}

.divnav {
    display: none;
}

@media (min-width:768px ) {
    
#imglogin {
    margin-left: -20px;
}
#logito4 {
    width: 9%;
    margin-left: 500px;
}

.divlogito4 {
    background-color: #ccccce;
}

#concontainer {
    background-color: transparent;
}

#alogo {
    height: 10px;
    margin-bottom: 100px;
}
#nav-navbar {
    background-color: white;
}
 #pa16 {
    margin: 0;
    margin-left: 250px;
 }

#logocentro {
    margin-bottom: 20px;
} 
.fotohero2 {
    display: none;
 }
 #logito3 {
    display:none;
}
#logito2 {
    display: none;
}
 .presnosotros {
    margin-left: 300px;
 }

 
 #imagenhero2 {
    width: 100%;
    height: auto;
 }

 .form-control {
    width: 65%;
    
 }

 .form-group {
    display: flex;
    justify-content: center;
 }

 .btn.btn-success {
    width: 60%;
 }

 .contactos {
    padding-top: 40px;
    width: 60%;
    background-color: rgb(209, 210, 213);
 }

 .divcontactos {
    display: flex;
    justify-content: center;
   
 }
 .fotohero3 {
    display: none;
}

img.imglogin {
    width: 15%;
}

.divnav {
    display: none;
}

}


@media (min-width: 1024px) {
    
    .divlogito {
        display: block;
    }

#bienvenido {
    margin-top: 100px;
    font-size: 25px;
}

#logito {
    display: block;
    width:12%;
    margin-right: -100px;
    margin-bottom: -30px;
}

#logito2 {
    display: block;
    width: 9%;
    margin: 0;
}

#logito3 {
    display: block;
    width: 30%;
}

.p17 {
    display: block;
}

.logito4 {
    display:block;
    margin-right: -200px;
    
}

.card-body {
    padding-bottom: 500px;
}

.p17 {
    font-size: 20px !important;
}
.card-text {
    font-size: 15px !important;
    margin: 0 !important;
}
.centrarlogito {
    width: 10%;
    display: flex;
    justify-content: flex-end;
}
.contenedorlogo4 {
    display: flex;
    justify-content: flex-end;
}
.divlogito4 {
    display: flex;
    justify-content: flex-end;
}
.iconos {
    display: none;
}

footer {
    display: block;
}

p.p11 {
    margin-left: -100px;
}

#nosotros {
    display: flex;
    justify-content: center;
}

.contnosotros {
    width: 100%;
    display: flex;
    justify-content: center;
}

#burger {
    display: none;
}

#concontainer{
    margin-left: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #537fe7;
    color:white;
    height: 100px;
    text-decoration: none;
}

a {
    width: 100px;
    margin-top: 20px;
    background-color: #537fe7;
    color:white;
    text-decoration: none;
}

#contactenos {
    width: 100px;
}

nav.navbar.navbar {
    background-color: #1c037e;
}

a#alogo {
    background-color: #1c037e;
}

.divnav {
    display: block;
}

.fotohero3 {
    display: block;
}

.fotohero {
    display: none;
}

#concontainer {
    display: flex;
    flex-direction: row-reverse;
}

.logop {
    display: flex;
    flex-direction: row
}

.p16 {
    display: flex;
    justify-content: flex-end;
    margin-left: 400px;
    margin-top: 30px;
    font-family: "Charm", serif;
}
.logop {
    display: flex;
    justify-content: space-between;
}
#imagenhero3 {
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
    width: 100%;
    height: 100%;

}

#homme {
    margin-top: 0px;
    padding-top: 0px;
}

#fotohero3 {
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
}

.lead {
    width: 100%;

}

#welcome {
    width: 80%;
    margin-top: 0;
}

.colorservicio {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.p14 {
    background-color: #ccccce;
    margin: 0;
    padding: 0;
}

#card1, #card2, #card3, #card4 {
    height: 500px;
}

#nuestro-servicio {
    padding-bottom: 30px;
}

.p15 {
    width: 15%;
}

.formu {
    width: 100%;
    display: flex;
    justify-content: center;
}
.divnav {
    position: fixed;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 50px;
   
}
.forma-grupo {
    background-color: #b7b8ba;
    padding-top: 10px;
    width: 50%;
   
    
}

.forma-forma {
    width: 85%;
    margin-left: 100px;
}

.form-control {
    width: 100%;
}

.btn.btn-success {
    width: 80px;
}
input {
    width: 100%;
}

#pwd, #usrr {
    display: none;
}

#fotohero3 {
    display: block;
}

.superformu {
    display: none;
}

.p16 {
    display: flex;
    justify-content: flex-start;
    font-size: 40px;
}

#exampleFormControlInput1 {
    width: 70%;
    margin-left: 40px;
    border: 1px solid black;
    border-radius: 0;
    height: 30px;
}

#labelnombre {
    width: 65%;
    margin-left: 0px;
}

#inputState {
    width: 70%;
    margin-left: 40px;
    border: 1px solid black;
    border-radius: 0;
    height: 30px;
}

#seledit {
    width: 70%;
    margin-left: 40px;
    border: 1px solid black;
    border-radius: 0;
    height: 30px;
    display: flex;
    
    
}

#labelnombre {
    margin-top: 20px;
}

#mensaje {
    border: 1px solid black;
    height: 180px;
    width: 70%;
    margin-left: 40px;
    border-radius: 0;
    display: flex;
    gap: 0px;
    
}

#menslabel {
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 0;
    gap: 0;
    width: 93%;
}

.formumm {
    background-color: #b7b8ba;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    margin-bottom: 100px;
    
}
.espacioform {
    display: flex;
    flex-direction: row;
}

.direccion {
    padding: 0 100px;
    text-align: center;
}

.contactos {
    display: none;
}

.submit {
    width: 70px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    margin-right: 90px;
    border: 1px solid black;
}

.botonito {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.p17 {
    font-size: 25px;
}

p.card-text {
    font-size: 18px;
    margin-top: 35px;
}

.cartas {
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 80%;
}

.card-body {
    padding: 30px;
    
}
h5 {
    display: flex;
    justify-content: center;
}


.imagenesic {
    background-color: #b7b8ba;
    width: 30%;
}

a#a1.items, a#a2.items, a#a3.items, a#a4.items, a#a5.items, a#a6.items, a#a7.items, a#a8.items {
    width: 10%;
    background-color: #ccccce; 
}
.a8 {
    background-color: #ccccce;
    width: 10%;
}

.fila1 {
    display: flex;
    justify-content: center;
}

.logito {
    width: 7%;
    margin-right: -10%;
}
#divvlogito {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: -200px !important;
}

#logito {

    margin-right: -100px !important;
    margin-bottom: -100px;
}
.colorservicio {
    padding-bottom: 300px;
    
}

.logito2 {
    width: 9%;
    margin-right: -50%;
}

.divlogito2 {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 500px;

}

.contenedorlogo {
    width: 100%;
    display: flex;
    justify-content: end;
    background-color: #ccccce;
}

.colorservicio{
    margin:0;
    padding: 0;
}

.direccion {
    height: 50px;
}
.contenedorlogo3 {
    background-color: white;
    width: 100%;
}

#divlogito3 {
    display: flex;
    justify-content: flex-end;
    width: 30%;
}

.logito3 {
    width: 10%;
    margin-right: 20px;
}
.contenedorlogo3 {
    display: flex;
    justify-content: flex-end;
}

.espacioform {
    height: 50%;
}

.formumm {
    margin-bottom: 10px;
}

.presnosotros {
    display: none;
}

.divlogito4 {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.logito4 {
    width: 100%;
    margin-right: -300px;
}
.contenedorlogo4 {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.centrarlogito {
    display: flex;
    justify-content: flex-end;
    width: 6%;
    margin-right: -700px;
    
}

.dfooter {
    background-color: #9fa0a2;
}

.terms {
    margin-left: 300px;
    background-color: #9fa0a2;
    text-decoration: underline;
}


















}







